<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.no_clay.messagertest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
        android:name="com.example.no_clay.messagertest.permission.ACCESS_BOOK_MANAGER_SERVICE"
        android:protectionLevel="normal">
    </permission>

    <application
        android:name=".Util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Item243.MessengerActivity"/>

        <service
            android:name=".Item243.MessengerService"
            android:process=":remote">
        </service>

        <activity
            android:name=".Item241.BundleActivity"
            android:process=":remote">
        </activity>
        <activity
            android:name=".Item242.FileActivity"
            android:process=":remote">
        </activity>

        <service
            android:name=".Item244.BookManagerService"
            android:process="com.example.test">
        </service>

        <activity android:name=".Item244.BookManagerActivity">
        </activity>

        <provider
            android:name=".Item245.BookProvider"
            android:authorities="com.example.no_clay.messagertest.BookProvider"
            android:permission="com.example.no_clay.messagertest.PROVIDER"
            android:process=":provider"/>

        <activity android:name=".Item245.BookProviderActivity">
        </activity>
        <activity android:name=".Item246.SocketActivity">
        </activity>

        <service
            android:name=".Item246.TCPService"
            android:process=":tcp"/>

        <service
            android:name=".BinderPool.BinderPoolService"
            android:process=":binderPool"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".BinderPool.BinderPoolActivity">
        </activity>
    </application>

</manifest>